<!-- wp:template-part {"slug":"header","theme":"mattress-shop","tagName":"header"} /-->


<!-- wp:group {"tagName":"main","className":"banner-section","style":{"dimensions":{"minHeight":""},"spacing":{"padding":{"top":"0","bottom":"0","left":"0rem","right":"0rem"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained","contentSize":"75%"}} -->
<main class="wp-block-group banner-section" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0rem;padding-bottom:0;padding-left:0rem">
<!-- wp:pattern {"slug":"mattress-shop/home-banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"mattress-shop/product-section"} /-->
<!-- wp:pattern {"slug":"mattress-shop/about-section"} /-->
<!-- wp:pattern {"slug":"mattress-shop/faq-section"} /-->
<!-- wp:pattern {"slug":"mattress-shop/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"mattress-shop","tagName":"footer"} /-->
