<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"consultingwp/about-us"} /-->
<!-- wp:pattern {"slug":"consultingwp/team"} /-->
<!-- wp:pattern {"slug":"consultingwp/services"} /-->
<!-- wp:pattern {"slug":"consultingwp/team"} /-->
<!-- wp:pattern {"slug":"consultingwp/faq"} /-->
<!-- wp:pattern {"slug":"consultingwp/call-to-action"} /-->
<!-- wp:pattern {"slug":"consultingwp/contact"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

    
    