
img{max-width: 100%; height:auto;}
.wp-block h2 {
    font-size: 18px;
    margin: 8px 0 !important;
}
.block_layout{width:95%; padding-left:2.5%; padding-right:2.5%; height:auto; overflow: hidden;position: relative;}
.nomorepost .block_layout{margin-bottom: 20px;}
.block_layout_in{width: 100%;max-width: 1400px; margin:0 auto!important;height:auto;position:relative; z-index: 10;}
.block_layout_in .block-list-appender{max-width: 300px; margin: 20px auto;}
#maxw.block_layout .block_layout_in{max-width: 100%;}
#maxw.block_layout{width:100%; padding-left:0; padding-right:0;}
.themepark_imgtext,.themepark_lists{width:100%; height: auto; overflow: hidden;position: relative;text-align:left;box-sizing: border-box;}
.themepark_imgtext.padingmodle,.themepark_listbox.padingmodle,.themepark_lists.padingmodle{width:96%; padding-left: 2%; padding-right: 2%;box-sizing: border-box;}
.themepark_listbox{width:100%; height: auto; position: relative;text-align:left;box-sizing: border-box;}
.block_layout .themepark_imgtext.padingmodle.leftright .themepark_imgtext_text{box-sizing: border-box;width:100%;  margin-left: 0; padding-right: 0;  margin-right: 1.5%; padding-left: 1.5%;}
.block_layout .themepark_imgtext.padingmodle{width:100%; padding:0;}

.shizhezhao{width: 100%;height: 100%;overflow: hidden;position: absolute; top: 0; left: 0; z-index: 9;}
.block_layout .themepark_imgtext.padingmodle .themepark_imgtext_text{    margin-left: 2%; padding-right: 1%; margin-right: 0; padding-left: 0;}
.block_layout .themepark_imgtext.padingmodle.leftright .themepark_imgtext_text{  margin-left: 0; padding-right: 0;  margin-right: 1.5%; padding-left: 1.5%;}
.block_layout .themepark_imgtext.padingmodle.leftright  .themepark_imgtext_img{margin-left: 0;text-align: right;}
.themepark_imgtext_img{min-height: 1px;}

	
#maxw.block_layout  .themepark_imgtext.padingmodle  .themepark_imgtext_text .wp-block-column{width:80%!important; margin-left: 7%;margin-right: 8%;}		
	
#maxw.block_layout  .themepark_imgtext.padingmodle.leftright  .themepark_imgtext_text .wp-block-column{width:80%!important; margin-left: 10%;margin-right: 0;}	

	

.bili_box{display:none;}

.themepark_imgtext .themepark_imgtext_img{width:45%; float: left;  text-align: left;position: relative; z-index: 10;overflow: hidden;line-height: 0;}
.themepark_imgtext .themepark_imgtext_text{width:52%; float: left; margin-left: 3%;position: relative; z-index: 10;}
.nopic{width: 100%; min-height: 400px; line-height: 400px; color:#666; text-align: center; background: #ccc;}
.themepark_imgtext .themepark_imgtext_text p{margin: 0 0 5px 0;}
.themepark_imgtext .themepark_imgtext_text h2,.themepark_imgtext .themepark_imgtext_text h3,.themepark_imgtext .themepark_imgtext_texth h4,.themepark_imgtext .themepark_imgtext_text h5{margin: 0 0 20px 0;font-size: 18px; }
.themepark_imgtext .themepark_imgtext_text h2::before,.themepark_imgtext .themepark_imgtext_text h2::after, .themepark_lists h2::before{display: none;}
.themepark_imgtext .themepark_imgtext_ba,.themepark_listbox .themepark_listbox_ba,.themepark_lists_ba{width: 100%;height: 100%; left: 0; top: 0; position:absolute;}
.themepark_imgtext.updonwmodle  .themepark_imgtext_img,.themepark_imgtext.updonwmodle .themepark_imgtext_text{width:100%!important; margin: 0 0 5px 0;}
.themepark_imgtext.updonwmodle  .themepark_imgtext_img {text-align: center;}
.themepark_imgtext.leftright .themepark_imgtext_img,.themepark_imgtext.leftright .themepark_bili{float: right;margin-left: 3%;}
.themepark_imgtext.leftright .themepark_imgtext_text{margin-left: 0;}
.themepark_imgtext .themepark_imgtext_img .uploads_img_btn{display: none;}
.themepark_imgtext .themepark_imgtext_img{overflow: hidden;position: relative;}
.themepark_imgtext.bigpic  .themepark_imgtext_img img{max-width:inherit;height: auto;}
.themepark_imgtext .themepark_imgtext_vidio{position: absolute; width: 100%;height: 100%; z-index: 3; left: 0; top: 0; background: #333;}
.themepark_listbox .themepark_listbox_title,.themepark_listbox_list,.themepark_listbox .tp_add_btn{position: relative; z-index: 10; width: 100%;height: auto;}
.themepark_listbox .tp_add_btn{border-radius: 0;display: none; margin-bottom: 1px;}
.themepark_imgtext .themepark_imgtext_img img{position: relative; z-index: 1;}
.themepark_lists .themepark_lists_head,.themepark_lists .themepark_lists_text {width: 100%;position: relative; z-index: 10;}
.themepark_lists .themepark_lists_text li{list-style: none; display: block; width: 100%; margin-bottom: 5px;}
.themepark_lists .themepark_lists_text li a{text-decoration: none;color:inherit; padding: 0;}

.is-selected .themepark_listbox .tp_add_btn,.is-selected .themepark_imgtext .themepark_imgtext_img .uploads_img_btn{display: block;}
.themepark_lists .themepark_lists_head{margin:0 0 8px 0; }
.themepark_listbox .themepark_listbox_list,.themepark_lists .themepark_lists_text{display: block; list-style: none; margin: 0; width: 100%; padding: 0; height: auto;box-sizing: border-box; }

.post_content  .themepark_listbox .themepark_listbox_list li a{margin: 0;}
.themepark_listbox .themepark_listbox_list li{list-style: none; display: block; width: 100%; margin-bottom: 3px;box-sizing: border-box;position: relative;}
.themepark_listbox .themepark_listbox_list li i{margin-right: 15px;position: absolute; left: 0px;top: 0px;}
.themepark_listbox .themepark_listbox_list li span{display:inline-block; width: 100%;}


 .themepark_listbox.iconmodle .themepark_listbox_list li{display: inline-block; margin-right: 8px;width: auto!important; padding: 3px 8px 5px 8px; border-radius: 5px;}
 .themepark_listbox.iconmodle  .themepark_listbox_list li i{margin-right: 0px;position: relative; left: 0px;top: 2px;}
 .themepark_listbox.iconmodle  .themepark_listbox_list li span{position: absolute; background: #000; padding:0px 5px;color:#fff;top:-103%; left: 0;width: auto; white-space: nowrap; font-size: 14px;display: none;}
 .themepark_listbox.iconmodle  .themepark_listbox_list li:hover span{display:block;}
.themepark_listbox.iconmodle  .themepark_listbox_list li span::after{content: " "; display: block; width: 10px;height:10px; background: #000;position:absolute; bottom:-5px; left:35%;transform:rotate(45deg);}
.themepark_listbox.iconmodle  .themepark_listbox_list li a:first-child{display: block; }
.themepark_listbox  .themepark_listbox_list li a{position:unset!important;}







.post_content a.icon_btn{display: inline-block; padding: 5px 8px; color:#fff; border-radius: 5px; text-decoration: none; text-indent: 0;} 
.post_content i{text-indent: 0;}
.post_content a.icon_btn:hover{opacity: 0.6;}
.content_pro{    width: 96%;padding: 15px 2%;  margin-bottom: 20px; overflow: hidden;position: relative;z-index: 10;}

.post_gallery{ width: 90%; margin:0 5%;}
.post_gallery_out .swiper-next,.post_gallery_out .swiper-prev{position: absolute;top:30%; color: #666;font-size: 24px; opacity: 0.5;cursor: pointer;}
.post_gallery_out:hover .swiper-next,.post_gallery_out:hover .swiper-prev{ opacity:1; }
.post_gallery_out .swiper-next{ right:2px;}
.post_gallery_out .swiper-prev{left:2px;}
.post_gallery_out,.post_gallery_out2{width: 100%; height: auto; position: relative; overflow: hidden; position: relative;z-index: 10;}
.post_gallery .swiper-slide  a{cursor: pointer; font-size: 0; margin: 0; overflow: hidden; }

.post_gallery .swiper-slide  a img{ border: solid 2px #fff; width: 95%; height: auto;}
.post_gallery .swiper-slide  a.active img{ border: solid 2px #cf0434;box-sizing: border-box; }


.post_gallery_out2 .swiper-slide{ text-align: center;overflow: hidden; line-height: 0;}
.post_gallery_out2 .swiper-slide a{margin: 0!important;}
.post_gallery_out2 .swiper-next i,.post_gallery_out2 .swiper-prev i{margin: 0;}
.post_gallery_out2 .swiper-next,.post_gallery_out2 .swiper-prev,.thenepark-slide .swiper-next,.thenepark-slide .swiper-prev{width:50px; height: 50px; background: #fff; color:#666; font-size: 16px;display: block; box-shadow:  0 0 8px rgba(0,0,0,0.4);text-align: center; line-height: 50px;position:absolute; top: 45%; z-index: 100;cursor: pointer;opacity: 0;border-radius: 3px;}
.post_gallery_out2:hover .swiper-next,.post_gallery_out2:hover .swiper-prev,.thenepark-slide:hover .swiper-next,.thenepark-slide:hover .swiper-prev{ opacity: 0.7;}
.post_gallery_out2 .swiper-next,.thenepark-slide .swiper-next{ right:0;}
.post_gallery_out2 .swiper-prev,.thenepark-slide .swiper-prev{left:0;}
.post_gallery_nomral_pagination{width: 100%; height: auto; padding:0 0  15px 0;line-height: 10px; text-align: center;}
.post_gallery_nomral_pagination span{border-radius: 0; width: 8px; height: 3px; margin-right: 3px; }
.swiperimg-ds{width:100%; height: 30px; line-height: 30px; position: absolute; z-index: 10; bottom:0; text-align: left;}
.swiperimg-ds span{color:#fff;font-size: 14px; margin-left: 10px;position: relative; z-index: 5;}
.swiperimg-ds-b{width: 100%; height:30px; position: absolute;background: #000; opacity: 0.6;z-index: 1; top: 0; left: 0;} 

.swiperimgbox a{display: inline-block; }
.swiperimgbox a:hover{text-decoration: none;}


#list_imgs.swiperimgbox{overflow: visible; z-index: 1000;}
#list_imgs.swiperimgbox.padingmodle{padding: 0 2%;  }
#list_imgs .addimgbox{width: 100%; padding: 10px 2.5%;}
#list_imgs .imgs_corl .cotrlboxs{display: none;}
#list_imgs .imgs_corl .cotrlboxs.active{display: block;}
#list_imgs .imgs_corl img{float:left; max-width: 20%; height:auto; }
#list_imgs .imgs_corl a{margin: 0 3px;position: relative;}
#list_imgs .cotrlboxsinput{float:right;width: 75%;}
#list_imgs .imgs_corl {width: 100%;background: #fff; overflow: hidden;;line-height: 1.8;}
#list_imgs .cotrlboxsinput span.rich-text{padding: 5px; width: 90%; border:#ccc solid 1px;display: block; margin-bottom: 5px;}
#list_imgs .savebtns  span{display:none;}
#list_imgs .savebtns{display:block; width: 100px;text-align:center; border: solid 1px #ccc;border-radius: 5px;padding: 5px;}
#list_imgs .savebtns div{margin: 0;}
#list_imgs .savebtns.blue{background:#007cba; color:#fff;}

.showbox{display: inline-block;overflow: hidden;}
.boxtext {display: block; overflow: hidden; width: 100%; line-height: 1.8;text-align: center;}

.themepark-accordion{ width:100%;overflow: hidden;}
.themepark-accordion-head{display: block; width: 100%!important; padding: 10px 24px 10px 1%!important;text-indent:0!important; background-color:#eaeaea; font-size: 16px; color: #666; margin: 0!important;cursor: pointer; opacity: 0.8;box-sizing:border-box;
}
.themepark-accordion-head::before{display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;line-height: 1;font-family: 'Font Awesome 5 Free';
font-weight: 900; font-size: 18px; float: right;content: "\f107";position: relative!important; top: 5px;    right: -9px;}
.themepark-accordion.active .themepark-accordion-head::before{content: "\f106";}
.themepark-accordion-head i{margin-right: 8px;}

.themepark-accordion-box{ padding: 10px 1%; min-height: 150px;width: 97.8%!important; margin: 0!important;display: none;}
.themepark-accordion.active .themepark-accordion-box{display: block;}
.themepark-accordion.active .themepark-accordion-head{opacity: 1;}
.themepark-accordion-box{border-top:none;  }

.themepark-accordion-box .components-button{width:80%; margin: 0 10%;}








.tagbox{width: 100%; padding: 5px 0;line-height: 2;margin-bottom: 10px;}
.tagbox a{display:inline-block; margin: 5px; padding:0 5px; border: solid 1px #cf0434; color:#cf0434; font-size: 14px; border-radius:5px;white-space: nowrap; }
.tagbox a:hover{color:#fff; background:#cf0434; text-decoration: none;cursor: pointer;}

.post_in_list_head{width: 100%; padding:3px 0; margin:0 0 20px 0;line-height: 1.8;display: block;    overflow: hidden;}
.post_in_list_head::before{display: none;}
.post_in_list_head .main-title{font-size: 16px; color:#cf0434;margin-right: 5px;font-weight: bold;}
.post_in_list_head .as-title{font-size: 14px; color:#666;font-weight: bold;}
.post_in_list_head.modle_title2{text-align: center;}
.post_in_list_head.modle_title3{text-align: center;}
.post_in_list_head.modle_title2,.post_in_list_head.modle_title3{border: none!important;}
.title_boout{width: 100%; margin: 10px 0;font-size: 0; }
.title_bo{ width:120px;height: 1px;}
.post_in_list_head.modle_title2 .title_boout .title_bo,.post_in_list_head.modle_title3 .title_boout .title_bo{display:inline-block;}
.post_in_list_head.modle_title2 .title_boout,.post_in_list_head.modle_title3 .title_boout{display:block;}
.post_in_list_head.modle_title3 .title_boout{margin: 0;}
.post_in_list_head.modle_title3 .main-title,.post_in_list_head.modle_title3 .as-title{text-align: center; display: block; width: 100%;}
.post_in_list_head h2,.post_in_list_head h3,.post_in_list_head h4,.post_in_list_head h5,.post_in_list_head h6{margin: 0;display: inline;}
.post_in_list_head h2::before{display: none;}
.topnavbtn span{display:inline-block; margin: 5px; width: 50px; line-height: 1.8; background:#dd3333; color:#fff; font-size: 16px;cursor: pointer;text-align: center;}
.titletext span{display: block; width: 100%; text-align:center;} 
.titletext{display:inline-block; width: 100%; margin-bottom: 8px;}
.post_content a.bttombtn{display: block; margin:15px auto 0 auto; padding: 10px 0;text-align: center;color:#fff; font-size: 16px;width: 120px;cursor: pointer;text-decoration: none;} 

.modle_title1 .topnavbtn{float:right;width: auto;}
.modle_title1 .title_bo{width:100%;}
.modle_title1 .titletext span{text-align: left;}
.modle_title1 .title_boout{margin: 0 0 5px 0;}
.modle_title1.post_in_list_head{margin: 0 0 5px 0;}


.tap_s-box .post_in_list_out{width:100%;padding:5px 0; margin-bottom:0px;}
.post_in_list_out{width: 98%;padding:15px 1%; margin-bottom: 20px;  min-height: 200px;overflow: hidden; position: relative;z-index: 10;}
.nomorepost .post_in_list_out{width: 100%; padding: 10px 0; } 
.post_in_list_out .post_in_list{width: 98%;display: block; list-style: none;padding: 0;overflow: hidden; margin: 0 1%;}
.block_layout .post_in_list_out .post_in_list{width: 100%; margin: 0;}


.post_in_list_out .post_in_list li{width: 96%; height: auto; list-style: none;display: block; overflow: hidden;margin: 0 0 15px 0;padding: 0 0 15px 0;border-bottom: 1px solid #e3e3e3;}
.post_in_list_out .post_in_list li .case_pic{float: left; margin-right: 25px;overflow: hidden;font-size: 0;}
.post_in_list_out .post_in_list li .case_pic figure{display:block; width: 100%; margin: 0; position: relative;}
.post_in_list_out .post_in_list2 li .case_pic{max-width: 150px;max-height:150px;}
.post_in_list_out .post_in_list li .case_pic a{margin: 0;}
.post_in_list_out .post_in_list li .case_pic  figure{font-size: 0; line-height: 0; position:relative;}
.post_in_list_out .post_in_list li .case_pic  figure figcaption span {position: relative;z-index: 10;font-size: 12px;color: #fff;text-align: left;line-height: 18px;}
.post_in_list_out .post_in_list li .case_text{text-align: left;}
.post_in_list_out .post_in_list li .case_pic  figure figcaption{position: absolute;bottom: -100px;left: 0;text-align: center;width: 96%;padding: 10px 2%;color: #fff;opacity: 0;text-align: left;z-index: 10;display: block;}


.post_in_list_out .post_in_list li:hover .case_pic figcaption {opacity: 1;bottom: 0;}

.post_in_list_out .post_in_list li .case_pic  figure figcaption::after {content: "";display: block; width: 100%; height: 100%;background: #000; opacity: .5;top: 0; left: 0; z-index: 1;position: absolute;}
.post_in_list_out .post_in_list li .case_text .posts_titles{margin: 0 0 5px 0; line-height: 1.5;overflow: hidden; max-height:48px;}
.post_in_list_out .post_in_list li .case_text .posts_titles a{font-size: 16px; color:#333; font-weight: normal; font-weight: bold;}
.post_in_list_out .post_in_list li .case_text .posts_titles  i{margin-right: 10px;}
.post_in_list_out .post_in_list li .case_text p{font-size: 14px; color: #666; line-height: 24px; text-indent: 0; margin: 0 0 5px 0;}
#post_in_list1 .post_in_list li .case_pic{max-width: 150px; height: auto;}
#post_in_list2 li{ float:left;margin-bottom: 15px; border: none;text-align: center;background: #fff;}

#post_in_list2 li:hover{box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.1);}
#post_in_list2 li .case_pic img{width: 100%; height: auto;}
#post_in_list2  .post_in_list li .case_pic{ width:100%;max-height:inherit;margin-right: 0; overflow: hidden;}
#post_in_list2 li .case_text{text-align: center; width: 97%; padding: 0 1.5%; overflow: hidden; height: 38px; margin: 5px 0; }
#post_in_list2 .post_in_list li .case_text .posts_titles{margin: 5px 0; overflow: hidden; max-height: 48px;}
#post_in_list2 .post_in_list li .case_text .posts_titles a{font-size: 16px; color:#333; font-weight:normal; line-height: 24px;width:95%;  margin: 0 2.5%; }
#post_in_list2 .post_in_list li .case_text p{display: none;}
.loadlist{width: 100%; height: 500px; text-align: center; line-height: 500px; font-size: 18px; color: #FFF; background: #ccc; cursor: pointer;}
.post_content a.btn_url{ display: inline-block; padding:0 15px;border: solid 1px #ff8400; color: #ff8400; font-size: 12px; margin:5px 0;}
.post_content  .post_in_list a.btn_url{ padding:0px 15px;height: 26px;box-sizing: border-box;line-height: 26px;}
.post_content a.btn_url:hover,.post_in_list_out .post_in_list li .case_text .posts_titles a:hover{text-decoration: none;}
.btn_url i{margin-right: 5px;}

.post_content a.themepark-i-btn{display: inline-block; padding: 5px 10px;; color:#fff;    }
.post_content a.themepark-i-btn i{margin-right: 8px;}
#post_in_list2  .post_in_list.row8 .case_pic figcaption,#post_in_list2  .post_in_list.row7  .case_pic figcaption{display: none;}


#post_in_list1 .post_in_list li.firstclass .case_pic{max-width: inherit !important; width: 98.5%;}
#post_in_list1 .post_in_list li.firstclass .case_text{width: 95%; padding: 5px 2.5%;float:left;box-sizing: border-box;}

#post_in_list3 .post_in_list li  .case_text p{display:none;}
#post_in_list3 .post_in_list li .description{float: right;padding: 0;width: auto;background: none;}
#post_in_list3 .post_in_list li .description time{color:#666; font-size:14px;}
#post_in_list3 .post_in_list li .posts_titles{float: left;}

#post_in_list1 .post_in_list li .description{background: none; padding: 0 1%;line-height: 19px;margin-bottom: 6px;width: 100%; padding:0; }

#post_in_list1 .post_in_list li .description span,#post_in_list1 .post_in_list li .description span a,#post_in_list1 .post_in_list li .description time{color:#666; font-size:14px;}
#post_in_list1 .post_in_list li, #post_in_list3 .post_in_list li {
    padding: 5px 0;
}



#post_in_list1 .post_in_list li .case_pic { max-width: 150px; height: auto;margin-left: 5px;}	
.post_in_list li  .case_text{overflow: hidden;}
#post_in_list2  .post_in_list li{width: 24%;margin-right: 1%;}
#post_in_list2  .post_in_list.row4.nobig  li:nth-child(4n){margin-right:0;}	
#post_in_list2  .post_in_list.row3  li{width: 32%;margin-right: 2%;}
#post_in_list2  .post_in_list.row3.nobig  li:nth-child(3n){margin-right:0;}	
#post_in_list2  .post_in_list.row5  li{width: 19%;margin-right: 1.2%;;}
#post_in_list2  .post_in_list.row5  li:nth-child(5n){margin-right:0;}	
#post_in_list2  .post_in_list.row6  li{width: 15%;margin-right: 1.48%;}
#post_in_list2  .post_in_list.row6  li:nth-child(6n){margin-right:0;}	
#post_in_list2  .post_in_list.row7  li{width: 12.99%;margin-right: 1.48%;}
#post_in_list2  .post_in_list.row7  li:nth-child(7n){margin-right:0;}		
#post_in_list2  .post_in_list.row8 li{width: 11.2%;margin-right: 1.48%;}
#post_in_list2  .post_in_list.row8  li:nth-child(8n){margin-right:0;}	

#post_in_list2 .post_in_list.row4 li.firstclass{width: 49.2%;}
#post_in_list2 .post_in_list.row4.firstbig li:nth-child(4n-1){margin-right:0}


#post_in_list2 .post_in_list.row3 li.firstclass{width: 66%;}
#post_in_list2 .post_in_list.row3.firstbig li:nth-child(3n-1){margin-right:0;}




  #post_in_list1 .post_in_list li.firstclass  li a.btn_url{margin: 5px 0 0 2.5%;}
#post_in_list1 .post_in_list li.firstclass{width:48%!important;float: left!important; margin:0 1% 10px 1%!important;}
#post_in_list1 .post_in_list.row2.firstbig li:nth-child(2n-1){margin-right:0;}


#post_in_list1 .post_in_list li,#post_in_list3 .post_in_list li{padding:5px 0;}
#post_in_list1 .post_in_list li  .case_text,#post_in_list3 .post_in_list li  .case_text{margin-top: 5px;}
 #post_in_list1 .post_in_list li a.btn_url{margin: 10px 0 0 0;}
#post_in_list1 .post_in_list li  .case_text p,#post_in_list3 .post_in_list li  .case_text p{line-height: 1.5;margin: 0 10px 5px 0;}
#post_in_list3 .post_in_list li  .case_text{width: 90%; padding: 0 5%;}
  #post_in_list3 .post_in_list li a.btn_url{margin: 10px 0 10px 5%;}

#post_in_list3 .post_in_list.row1 li  .case_text{width: 98%; padding: 0 1%;}
 #post_in_list3 .post_in_list.row1 li a.btn_url{margin: 10px 0 10px 1%;}
 #post_in_list1 .post_in_list li.firstclass a.btn_url{margin: 0px 0 10px 2.5%;}
#post_in_list1 .post_in_list.row2 li,#post_in_list3 .post_in_list.row2 li{width:48%;margin-right: 4%;float: left;}
#post_in_list1 .post_in_list.row2 li:nth-child(2n),#post_in_list3 .post_in_list.row2 li:nth-child(2n){margin-right:0;}












#post_in_list1 .post_in_list.row4 li,#post_in_list3 .post_in_list.row4 li{width:24%;margin-right: 1.3%;float: left;}
#post_in_list1 .post_in_list.row4 li .case_text ,#post_in_list3 .post_in_list.row4 li .case_text{height: 71px;overflow: hidden;}
#post_in_list1 .post_in_list.row4 li:nth-child(4n),#post_in_list3 .post_in_list.row4 li:nth-child(4n){margin-right:0;}
#post_in_list1 .post_in_list.firstbig.row4 li{margin: 0 0.5% 10px 0.5%!important;}
	
#post_in_list1 .post_in_list.row3 li,#post_in_list3 .post_in_list.row3 li{width:32%;margin-right: 2%;float: left;}
#post_in_list1 .post_in_list.row3 li .case_text,#post_in_list3 .post_in_list.row3 li .case_text  {height: 71px;overflow: hidden;}
#post_in_list1 .post_in_list.row3 li:nth-child(3n),#post_in_list3 .post_in_list.row3 li:nth-child(3n){margin-right:0;}
#post_in_list1 .post_in_list.row4 li,#post_in_list3 .post_in_list.row4 li{width:24%;margin-right: 1.3%;float: left;}
#post_in_list1 .post_in_list.row4 li .case_text ,#post_in_list3 .post_in_list.row4 li .case_text{height: 71px;overflow: hidden;}
#post_in_list1 .post_in_list.row4 li:nth-child(4n),#post_in_list3 .post_in_list.row4 li:nth-child(4n){margin-right:0;}
#post_in_list1 .post_in_list.firstbig li{margin: 0 1% 10px 1%!important;}
	
	





 #post_in_list1 .post_in_list li  ul.csbox_pt{display: block; overflow: hidden; margin: 5px 0; border-top:solid 1px #ececec; border-bottom:solid 1px #ececec;padding: 0;white-space: nowrap;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li:hover{box-shadow: none; margin: 0!important;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li{ margin: 0!important;position:relative;width: auto;line-height: 12px;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li{width: 100%; padding: 5px 0; line-height:1.5; border-bottom: solid 1px #ececec;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li, #post_in_list1  .post_in_list li  ul.csbox_pt:last-child{border: none;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li{width: auto; display: inline-block!important; padding: 5px 8px 0 5px!important; border: none;line-height: normal;float: none!important;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li span{display:inline-block;overflow: hidden;vertical-align: middle;font-size: 14px;color: #666;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li::after{content:  ' ';width: 1px; height: 15px; background: #ccc;position: absolute; top: 10px; right: 0;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li:last-child::after{display: none;}
  #post_in_list1 .post_in_list li  ul.csbox_pt li span:last-child{color:#333;}







#post_in_list2 li{box-sizing: border-box; border:solid 1px #f7f7f7} 
#post_in_list2 li  ul.csbox_pt{display: block; overflow: hidden; margin-bottom: 5px; border-top:solid 1px #ececec; border-bottom:solid 1px #ececec;}




#post_in_list2 li  ul.csbox_pt li:hover{box-shadow: none; margin: 0!important;}
#post_in_list2 li  ul.csbox_pt li{ margin: 0!important;position:relative;}
#post_in_list2 li  ul.csbox_pt li{width: 100%; padding: 5px 0; line-height:1.5;border: none; border-bottom: solid 1px #ececec;}
#post_in_list2 li  ul.csbox_pt.ov_1 li,#post_in_list2 li  ul.csbox_pt:last-child{border: none;}
#post_in_list2 li  ul.csbox_pt.ov_2 li{width: 45%; display: inline-block; text-align: center;padding: 5px 2.5%; border: none;line-height: normal;}
#post_in_list2 li  ul.csbox_pt.ov_2 li span{display:inline-block; width: 100%;overflow: hidden;white-space: nowrap;}
#post_in_list2 li  ul.csbox_pt.ov_2 li:first-child::after{content:  ' ';width: 1px; height: 30px; background: #ccc;position: absolute; top: 11px; right: 0;}


#post_in_list2 li  ul.csbox_pt li span{min-height: 20px;color: #666;font-size: 14px;}
#post_in_list2 li  ul.csbox_pt li span:first-child{color: #999;}

#post_in_list2 li  ul.csbox_pt.ov_3 li span{display:inline-block; width: 100%;overflow: hidden;white-space: nowrap;}
#post_in_list2 li  ul.csbox_pt.ov_3 li span:first-child{font-size: 12px;}
#post_in_list2 li  ul.csbox_pt.ov_2 li span:first-child{font-size: 12px;}

	
#post_in_list2 li  ul.csbox_pt.ov_3 li{width: 33%; display: inline-block; text-align: center;padding: 5px 1.5%; border: none;line-height: normal;}

#post_in_list2 li  ul.csbox_pt.ov_3 li:nth-child(2n)::after,#post_in_list2 li  ul.csbox_pt.ov_3 li:first-child::after{content:  ' ';width: 1px; height: 30px; background: #ccc;position: absolute; top: 11px; right: 0;}	
	




.thenepark-slide-out{width: 100%; height: auto;position: relative;z-index: 1000;line-height: 0;}
.thenepark-slide-out .thenepark-slide {line-height: 0}
.thenepark-slide-out .thenepark-slide .swiper-cube-shadow{opacity: 0.2}
.thenepark-slide-out .thenepark-slide .pcimg_text{margin: 0 auto; max-width: 1400px; width: 95%; padding:10% 2.5% 0 2.5%;position: relative; z-index: 10;}
.thenepark-slide-out .thenepark-slide .pcimg_text .pcimg_title{font-size:24px; color:#fff; margin: 0 0 10px 0;line-height: 1.4; }

.thenepark-slide-out .thenepark-slide .pcimg_text .pcimg_title::before{display: none;}
.thenepark-slide-out .thenepark-slide .pcimg_text .pcimg_title span,.thenepark-slide-out .thenepark-slide .pcimg_text  font.pcimg_dis span{display: block;width: 100%; margin-bottom: 5px;}

.thenepark-slide-out .thenepark-slide  .pcimg_text  font.pcimg_dis{font-size: 18px;color:#fff;text-indent:0; margin: 5px 0;line-height: 1.8;display: inline-block;
width: 100%; }
.thenepark-slide-out .thenepark-slide .pcimgx{position: relative;z-index: 10;}
.thenepark-slide-out .thenepark-slide .pcimg_text .pcimg_btn{display: inline-block;font-size: 16px; color: #fff; background: #146ba2;padding:10px 25px; margin-top: 15px;    line-height: 21px;}
.post_content a.pcimg_pic{position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;background-repeat: no-repeat!important; background-position: center!important; display: block; margin: 0;}
.jtauto.thenepark-slide .swiper-slide-active  a.pcimg_pic,.jtauto.thenepark-slide .swiper-slide-active .movepic{-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05);
-moz-transition:all 10s;-webkit-transition:all 10s;-o-transition:all 10s;transition:all 10s;
}

.thenepark-slide .pagination{width: 100%; position:absolute; bottom: 0; left: 0; line-height: 3px; z-index: 100;  text-align: left; padding: 3px 0 6px 0;}
.thenepark-slide .pagination span{ width: 30px; height: 3px; border-radius: 0;  background: #fff; margin: 0 5px;}
.thenepark-slide .pagination span.swiper-pagination-bullet-active{ background:#cf0434;}
.pcimg_pic video { min-width: 100%;min-height: 100%; position: relative;z-index: 1;}


	.thenepark-slide-out .thenepark-slide .movepic{display: none;}






.xtpfms.listul_box .listul_box_text{margin: 0 auto;max-width: 1400px;width:90%;padding: 10% 5% 0 5%;position:relative;z-index: 10;  line-height: 1.5;float: left;}
.post_content a.listulpic{position:relative; z-index: 1;display: block; line-height: 0;margin:0;overflow: hidden;float: left; text-align: center;box-sizing: border-box;}
.post_content a.listulpic img{display: inline-block;}
.listul_box{position: relative; line-height: 0;overflow:hidden;}
.listul_box_text .pcimg_title span, .listul_box_text font.pcimg_dis span {display: block; width: 100%;margin-bottom: 5px; }
.post_content  .listul_box_text .pcimg_title {font-size: 18px;color: #333;margin: 0 0 10px 0;line-height: 1.2}
.listul_box_text .pcimg_btn {  display: inline-block; font-size: 14px; color: #fff; background: #146ba2; padding: 5px 15px; margin: 5px 0;}

.listul_box_img{overflow: hidden;}
.listul_box_text{margin: 0 auto;max-width: 1400px;width:90%;padding: 10% 5% 0 5%;position:absolute;z-index: 10;  line-height: 1.5;top:10%;}
.listul_box .listul_box_img .zhezhao{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity:0.1;z-index: 2;}
.xtpfms.listul_box .listul_box_text h3.pcimg_title ,.xtpfms.listul_box .listul_box_text font.pcimg_dis  {color:#333}
.xtpfms.listul_box .listul_box_text h3.pcimg_title {color: #333;}
.xtpfms.listul_box .listul_box_text{padding:10px 5%!important; }

.content .twotab .list_ul_box_out{width:95%; padding-left: 2.5%; padding-right: 2.5%;}

#list_ul_thum_box{width: 243px; }
.list_ul_box_out{width:100%; height: auto; overflow: hidden;position: relative; z-index: 10; background-position: center; background-size: cover;}
.list_ul_box_out .showslidebox_out{width: 100%; padding-bottom: 8px;}
.showslidebox .listul_box{display: inline-block; margin-right: 10px;}

.Effect3 .listul_box{border:solid 10px #fff;  box-shadow: 0 0 5px #333}
.shadowss.listul_box{box-shadow: 0 0 8px #ccc; margin-bottom: 10px;}

.listul_box_text font.pcimg_dis span ,.listul_box_text .pcimg_btn{position: relative; top:10%; opacity: 0;}
.listul_box:hover .zhezhao,.Effect1 .listul_box.swiper-slide-active .zhezhao,.xtpfms.listul_box .listul_box_img .zhezhao{opacity: 0.4;}
.listul_box:hover .listul_box_text,.Effect1 .listul_box.swiper-slide-active .listul_box_text,.xtpfms.listul_box .listul_box_text{top: 0; opacity: 1;}
.listul_box:hover .listul_box_text font.pcimg_dis span ,.listul_box:hover .listul_box_text .pcimg_btn,.Effect1 .listul_box.swiper-slide-active .listul_box_text font.pcimg_dis span,.Effect1 .listul_box.swiper-slide-active .listul_box_text .pcimg_btn,.xtpfms.listul_box .listul_box_text font.pcimg_dis span,.xtpfms.listul_box .listul_box_text .pcimg_btn{ top:0; opacity: 1;}

.list_ul_box_out .showslidebox_out.listpadings{max-width: 1400px; margin: 0 auto ;width:100%; padding: 0 5px;}

  .list_ul_box_out .showslidebox_out.listpadings{ padding: 0 5px;} 

.list_ul_box_out .pagination{width: 100%; line-height: 3px; z-index: 100; text-align: center; padding: 23px 0 6px 0;}
.list_ul_box_out .pagination span{ width: 30px; height: 3px; border-radius: 0;  background: #666; margin: 0 5px;}
.list_ul_box_out .pagination span.swiper-pagination-bullet-active{ background:#cf0434;}

.list_ul_box_out  .swiper-next,.list_ul_box_out  .swiper-prev{position: absolute; top:35%;padding: 15px 20px; font-size: 24px; color:#4597b6;z-index: 100;background: #fff;box-shadow:  0 0 8px rgba(0,0,0,0.4); border-radius: 5px; opacity: 0; cursor: pointer;}
.list_ul_box_out:hover  .swiper-next,.list_ul_box_out:hover   .swiper-prev{opacity: 0.9;}
.list_ul_box_out  .swiper-next{right:10px;}
.list_ul_box_out  .swiper-prev{left:0px;}
.head_hight.list_ul_box_out  .swiper-next,.head_hight.list_ul_box_out  .swiper-prev{top:50%;}


.themepark_icon_list_in{max-width: 1400px; margin: 0 auto ;width:100%; padding: 0 5px;}



.themepark_icon_list_out{width: 100%; height: auto;background-size:cover;position:relative;z-index: 1001;}

.content .twotab .themepark_icon_list_out{width:95%; padding-left: 2.5%; padding-right: 2.5%;}

.themepark_icon_lists{width: 100%; height: auto;  text-align: center;}
.post_content a.themepark_icon_box,.the_page_content a.themepark_icon_box{display:inline-block; text-align: center; padding:15px 1%; }

.themepark_icon_box b,.themepark_icon_box span{width: 100%; height: auto; display: block;}
.themepark_icon_box:hover b,.themepark_icon_box:hover span,.post_content a.themepark_icon_box:hover{text-decoration: none;}
.themepark_icon_box i{font-size: 36px;color: #ccc; margin:0 0 15px 0;}
.icondeletimg{width:100%; height: auto;display: none; margin-top: 10px; background: #fff; padding: 5px 0; border: solid 1px #ccc;}
.block-editor-block-list__block.is-selected .icondeletimg{display:block;}
.icondeletimg span{width: 30px; height: 30px; margin-right: 5px; display: inline-block; line-height: 30px;}
.themepark_icon_box .themepark_icon_box_b{font-size: 16px; color: #333;margin:0 0 3px 0;width: auto;}
.themepark_icon_box_d{font-size: 14px; color: #666;margin-top: 10px;overflow: hidden;}
.icondeletimg span i{font-size: 16px; color: #333;}
.themepark_icon_box_bac{position: absolute; z-index: 1; width: 100%; height: 100%;top: 0; left: 0;}
.themepark_icon_box_d,.themepark_icon_box_i,.themepark_icon_box_d .themepark_icon_box_b,.themepark_icon_box_d span{position: relative; z-index: 2;line-height: 1.6;}
#nomo1 .themepark_icon_box_i_out{display: inline-block; line-height: 0;margin: 0 0 15px 0;position: relative;}
#nomo1 .themepark_icon_box{padding:30px 1% 15px 1%;}
#nomo1 .themepark_icon_box_i_out .themepark_icon_box_i_b{position: absolute; width: 100%; height: 100%; top: 0; left: 0;opacity: 0.4;border-radius: 100%;-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2)}
#nomo1 .themepark_icon_box_i_out i{display: inline-block;  margin:0; border-radius: 100%;position: relative; z-index: 5;border-radius: 100%;}
#nomo1  .themepark_icon_box:hover .themepark_icon_box_i_b{-moz-transform:scale(1.5);-webkit-transform:scale(1.5);-o-transform:scale(1.5);transform:scale(1.5)}

#nomo2 .themepark_icon_box_d{padding: 0 5%;}
#nomo2 .themepark_icon_box,#nomo3 .themepark_icon_box{text-align: left;}


#nomo3 .themepark_icon_box:hover ,#nomo .themepark_icon_box:hover{z-index: 2;}
#nomo3 .themepark_icon_box:hover .themepark_icon_box_bac,#nomo .themepark_icon_box:hover .themepark_icon_box_bac{transform:scale(1.1,1.6); box-shadow:  0 0 8px rgba(0,0,0,0.2);opacity: 1!important; }

#nomo2  .themepark_icon_box_i{width:90%; height: auto; padding:5px 0; position: relative; margin:0 5% 15px 5%;}
#nomo2  .themepark_icon_box_i .themepark_icon_box_i_out,#nomo2 .themepark_icon_box b{display: inline;width: auto;}
#nomo2  .themepark_icon_box_i .themepark_icon_box_i_out{ margin-right: 10px;}
#nomo2  .themepark_icon_box_i::before { width: 35px; content: " ";height: 1px;background: #cf0434; position: absolute; bottom: 0;left: 0; z-index: 2;}
#nomo2  .themepark_icon_box_i::after { width: 100%; content: " "; height: 1px;  background: #e9e9e9;  position: absolute;  bottom: 0; left: 0;  z-index: 1;}
#nomo2  .themepark_icon_box:hover .themepark_icon_box_i::before{width: 70px;}

#nomo3 .themepark_icon_box_i{width: auto;float: left; margin:0 20px 5px 10px;}
#nomo3  .themepark_icon_box i{margin:12px 0 25px 0;}
#nomo3  .themepark_icon_box i{margin:12px 0 25px 0;}
#nomo3 .themepark_icon_box_d{overflow: hidden;position: relative; top: -3px;}
.themepark_icon_box.bhclas:hover{box-shadow: 3px 3px 10px 5px #ebebeb;}
.themepark_icon_lists.iconl1 .themepark_icon_box{width: 100%;margin:10px 0;  }
.themepark_icon_lists .themepark_icon_box{display: inline-block;position: relative;}
	
.themepark_icon_lists.iconl2 .themepark_icon_box{width: 47%; }
.themepark_icon_lists.iconl3 .themepark_icon_box{width: 30%;}
.themepark_icon_lists.iconl4 .themepark_icon_box{width: 22%; }
.themepark_icon_lists.iconl5 .themepark_icon_box{width: 17%; }
.themepark_icon_lists.iconl6 .themepark_icon_box{width: 13.6%;}
.themepark_icon_lists.iconl7 .themepark_icon_box{width: 11.2%; }
.themepark_icon_lists.iconl8 .themepark_icon_box{width: 9.5%;}
.post_content a.themepark_icon_box{ margin: 10px 0.5%;}	







@keyframes turn{
      0%{-webkit-transform:rotate(0deg);}
      25%{-webkit-transform:rotate(90deg);}
      50%{-webkit-transform:rotate(180deg);}
      75%{-webkit-transform:rotate(270deg);}
      100%{-webkit-transform:rotate(360deg);}
    }
.animated {
  animation-duration: 1s; /*动画时间*/
  animation-fill-mode: both; /*播放后的状态*/
}
 
.animated {
  animation-iteration-count: infinite; /*动作循环的次数：infinite 无限循环*/
}
 
.animated {
  animation-duration: 2s; /*动画时间*/
}
@keyframes container{
  0%,
  100%,
  20%,
  50%,
  80% {
  transition-timing-function: cubic-bezier(0.215,.61,.355,1); /*贝塞尔曲线 ： X1 Y1 X2 Y2*/
  transform: translate3d(0,0,0); /*设置只在Z轴上移动*/
  }
  40%,
  43%{
  transition-timing-function: cubic-bezier(0.755,0.50,0.855,0.060);
  transform: translate3d(0,-5px,0);
  }
  70%{
  transition-timing-function: cubic-bezier(0.755,0.050,0.855,0.060);
  transform: translate3d(0,-5px,0);
  }
  90%{
  transform: translate3d(0,-1px,0);
  }
}


.themepark-slidearea{width: 100%;  overflow: hidden; position: relative;box-sizing: border-box;}
.themepark-slidearea-in{z-index: 2;}

.themepark-slidearea div.themepark-slidearea_ba,.layout_badh{position: absolute; top: 0; left: 0; z-index: 1;background-size: cover; background-position: center;width: 100%;height: 100%;}
.themepark-block_layout_ba{width: 100%;height: 100%;}
.themepark-slidearea.swiper-slide-active,.themepark-slidearea.swiper-slide-active .jttj,.themepark-block_layout_ba{-moz-transition:all 15s;-webkit-transition:all 15s;-o-transition:all 15s;transition:all 15s;}
.themepark-slidearea.swiper-slide-active .xiena.jttj,.actions .themepark-block_layout_ba.xiena.jttj{-moz-transform:scale(1.08) rotate(2deg);-webkit-transform:scale(1.08) rotate(2deg);-o-transform:scale(1.08) rotate(2deg);transform:scale(1.08) rotate(2deg);
-moz-transition:all 15s;-webkit-transition:all 15s;-o-transition:all 15s;transition:all 15s;}

.themepark-slidearea.swiper-slide-active .jttj,.actions .themepark-block_layout_ba.jttj {-moz-transform:scale(1.08);-webkit-transform:scale(1.08);-o-transform:scale(1.08);transform:scale(1.08);

}

.themepark-block_layout_ba video{min-height: 100%;min-width: 100%;}

.downs{display: block; margin:15px auto 0 auto; padding: 5px 0;text-align: center;color:#fff; font-size: 16px;width: 120px;cursor: pointer;text-decoration: none;position: absolute; width: 100%; text-align: center; left: 0; bottom: 5px;z-index: 2;}
.downs div{margin-bottom: 10px;opacity:0.7;}
.downs i{opacity:0.7;font-size: 24px; animation-name:container; /*动画的名称*/
transform-origin: center bottom; /*设置动画旋转元素的基点为：居中靠下*/}




.content-super-p{padding: 15px 0; box-sizing: inherit;}
.content-super-p p{margin:5px 0;}


.content .thempark-block .has-medium-font-size {font-size:24px;line-height: 1.1;}
.content .thempark-block .has-large-font-size {font-size:36px;line-height: 1.1;}
.content .thempark-block .has-huge-font-size,.content .thempark-block .has-larger-font-size {font-size:42px;line-height: 1.1;}