<!-- wp:template-part {"slug":"header","theme":"fse-solar-power","tagName":"header"} /-->

<!-- wp:pattern {"slug":"fse-solar-power/header-banner"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"fse-solar-power/services-section"} /-->

	<!-- wp:pattern {"slug":"fse-solar-power/about-section"} /-->

	<!-- wp:pattern {"slug":"fse-solar-power/team-section"} /-->
	
	<!-- wp:pattern {"slug":"fse-solar-power/latest-blog"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fse-solar-power","tagName":"footer"} /-->